<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js & express server</title>
</head>
<body>
  <nav>
    <div class="site-title">
      <a href="/"><h1>Ivan's Node-express server</h1></a>
      <h2>OOPS, page not found!</h2>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">AboutPage</a></li>
    </ul>
  </nav>
</body>
</html>
