
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js & express server</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Ivan's Node-express server</h1></a>
        <h3>This is my about Page!</h3>
        <p>lorem ipsum dolor sit am lorem
        lorem ipsum dolor sit orem ipsum dolor sit am lorem
        lorem ipsum dolor sit orem ipsum dolor sit am lorem
        lorem ipsum dolor sit orem ipsum dolor sit am lorem
        lorem ipsum dolor sit
        </p>
        <!-- <a href="/about"><h1>AboutPage</h1></a> -->
      </div>
      <ul>
        <li><a href="/about">AboutPage</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    
  </body>
  </html>
  