<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js & express server</title>
</head>
<body>
  <nav>
    <div class="site-title">
      <a href="/"><h1>Ivan's Node-express server</h1></a>
      <h2>This is my Home Page!</h2>
      <p>lorem ipsum dolor sit am lorem
      lorem ipsum dolor sit orem ipsum dolor sit am lorem
      lorem ipsum dolor sit orem ipsum dolor sit am lorem
      lorem ipsum dolor sit orem ipsum dolor sit am lorem
      lorem ipsum dolor sit
      </p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">AboutPage</a></li>
    </ul>
  </nav>
  
</body>

<!-- <script>
  let getRandomNumber = function(start, range) {
    let getRandom = Math.floor((Math.random() * range) + start);
    while(getRandom > range) {
      getRandom = Math.floor((Math.random() * range) + start);
    }
    return getRandom;
  }
  console.log(getRandomNumber(0, 1023));
</script> -->
</html>
